<div class="app-content">
  <div class="app-header">
    <div class="app-title">
      <h1 class="title">ន.បណ្តុះបណ្តាល</h1>
    </div>
  </div>

  <div class="detail-form">
    <app-filter
      [apiRoute]="filterData$"
      [hasButton]="false"
      (queryEvent)="onSearch($event)"
      (queryFilter)="setParams($event)"
      [statusPipe]="'agree'"
    ></app-filter>
    <custom-table
      [tableData]="tableData"
      [tableColumns]="tableColumns"
      [requestUrl]="requestUrl"
      (goToEvent)="goTo($event)"
    >
      <ng-template [appZippy]="'name'" let-element>
        <div class="group-picture-name">
          <img
            class="profile-picture-list"
            *ngIf="element.profile_image; else elseBlock"
            [src]="(element.profile_image | staticFile) + '?image_size=s'"
            alt="profile picture"
          />
          <ng-template #elseBlock>
            <img
              class="profile-picture-list"
              [src]="(element.gender === 'female' ? '/assets/imgs/female.svg' : '/assets/imgs/male.svg')"
              alt="profile picture"
            />
          </ng-template>
          <div class="el-responsive">{{element | fullName: translate.currentLang}}</div>
        </div>
      </ng-template>

      <ng-template [appZippy]="'gender'" let-element>
        {{(element.gender === 'female' ? ('form.gender.female' | translate) : ('form.gender.male' | translate) |
              titlecase)|| '--//--'}}
      </ng-template>

      <ng-template [appZippy]="'phone'" let-element>
        {{element.phone_number || '--//--'}}
      </ng-template>

      <ng-template [appZippy]="'poor_id'" let-element>
        {{ element.poor_id || '--/--' }}
      </ng-template>

      <ng-template [appZippy]="'schools'" let-element>
        <div class="group-picture-name">
          <img
            class="profile-picture-list"
            *ngIf="element?.schools?.profile_image; else elseBlock"
            [src]="(element?.schools?.profile_image | staticFile) + '?image_size=s'"
            alt="profile picture"
            onerror="this.onerror=null;this.src='/assets/imgs/school.svg'"
          />
          <ng-template #elseBlock>
            <img class="profile-picture-list" [src]="'/assets/imgs/school.svg'" alt="profile picture" />
          </ng-template>
          <div class="el-responsive">{{element.schools | translateAPI: translate.currentLang}}</div>
        </div>
      </ng-template>

      <ng-template [appZippy]="'major'" let-element>
        {{ element.apply_majors || '--/--' | translateAPI: translate.currentLang}}
      </ng-template>

      <ng-template [appZippy]="'status'" let-element>
        <span class="status-fill rounded-sm" [ngClass]="element.status | approvedStudent | lowercase">
          {{element.status | verifyStudent}}
        </span>
      </ng-template>

      <ng-template [appZippy]="'action'" let-element>
        <app-action
          [useRouter]="{view: {routerLink: 'info/' + element._id, queryParam: {student: element | fullName, poorId: element.poor_id}}}"
          [permission]="{ delete: false, edit: false, view: ([pStudent.read] | permission) }"
        >
        </app-action>
      </ng-template>
    </custom-table>
  </div>
</div>
