.fix-btn-generate {
    margin-bottom: 21px;
  }

.fix-filter {
    margin-bottom: 5px;
}

.fix-empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fix-img {
  height: 204px;
}