$mat-custom-primary: (
  50: #e3f2ff,
  100: #bbddff,
  200: #8ec9ff,
  300: #60b3ff,
  400: #3ba3ff,
  500: #1893ff,
  600: #1e85f3,
  700: #1f72df,
  800: #1f61cd,
  900: #1e41ad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-custom-accent: (
  50: #fff3e5,
  100: #ffe0bd,
  200: #ffcc94,
  300: #ffb76d,
  400: #F1B20C,
  500: #fd9a4b,
  600: #f78f48,
  700: #ef8144,
  800: #e67441,
  900: #db5d3a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-custom-warn: (
  50: #feebef,
  100: #feced4,
  200: #ee9c9e,
  300: #e37678,
  400: #FF5440,
  500: #f3473e,
  600: #e43e3d,
  700: #d23537,
  800: #c52f30,
  900: #b62324,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-custom-reset: (
  50: #def4f4,
  100: #abe3e1,
  200: #70d1cd,
  300: #11beb8,
  400: #00afa7,
  500: #00a095,
  600: #009287,
  700: #008276,
  800: #007266,
  900: #005548,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-custom-print: (
  50: #e0f7fb,
  100: #b2ecf4,
  200: #7fe0ee,
  300: #4ad3e6,
  400: #1ac9e0,
  500: #00bfdb,
  600: #00afc7,
  700: #009aad,
  800: #008695,
  900: #006369,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-custom-success: (
  50: #e6f6eb,
  100: #c3e9cf,
  200: #9bdcb0,
  300: #70cf91,
  400: #4bc479,
  500: #1bb861,
  600: #0fa957,
  700: #4F9573,
  800: #00853f,
  900: #00662a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
