@use 'custom-button' as button;
@use '../mixin/mat-button-variants' as button-variants;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use '../variables' as var;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$primary: mat.define-palette(button.$mat-custom-primary, 700);
$accent: mat.define-palette(button.$mat-custom-accent, 400);
$warn: mat.define-palette(button.$mat-custom-warn, 400);
$reset: mat.define-palette(button.$mat-custom-reset, 500);
$print: mat.define-palette(button.$mat-custom-print, 400);
$success: mat.define-palette(button.$mat-custom-success, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$font-family: 'Inter, Khmer, system ui';
$custom-typography: mat.define-typography-config(
  $font-family,
  /* One-off header, usually at the top of the page (e.g. a hero header). */ $headline-1:
    mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  /*Section heading corresponding to the <h.> tag.*/ $headline-5: mat.define-typography-level(24px, 32px, 500),
  $headline-6: mat.define-typography-level(20px, 28px, 500),
  $subtitle-1: mat.define-typography-level(18px, 24px, 500, $font-family, normal),
  $subtitle-2: mat.define-typography-level(14px, 20px, 500, $font-family, normal),
  $body-1: mat.define-typography-level(14px, 20px, 500, $font-family, normal),
  /* body text */ $body-2: mat.define-typography-level(14px, 20px, 400, $font-family, normal)
);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $custom-typography
  )
);

$variants-theme: (
  reset: $reset,
  print: $print,
  success: $success
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include button-variants.color($theme, $variants-theme);
@include mat.typography-hierarchy($theme);
@include mat.all-component-themes($theme);
