<ng-container>
  <div class="table-container">
    <ng-container *ngIf="loadingService.isLoading$ | async as loadingMap">
      <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="loadingMap.get(url)"></mat-progress-bar>
    </ng-container>
    <!-- <div style="overflow-x: auto;"> -->

    <!-- Table -->
    <table
      #table
      mat-table
      [dataSource]="tableDataSource"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListDisabled]="dragDisabled"
      matSort
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span class="d-flex align-items-center">
            <mat-icon *ngIf="isEnabledDrag" class="dragCursor" cdkDragHandle (mousedown)="dragDisabled = false;"
              >reorder</mat-icon
            >
            {{params.page === 1 ? (i + 1) : i + 1 + (params.limit * (params.page - 1))}}
          </span>
        </td>
      </ng-container>

      <!-- action column -->
      <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">
        <th mat-header-cell *matHeaderCellDef class="status">{{'table.action' | translate}}</th>
        <td mat-cell *matCellDef="let element" [id]="rowActionIcon" (click)="emitRowAction(element)">
          <button mat-flat-button class="btn-sm" color="primary">
            <mat-icon [svgIcon]="rowActionIcon"></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.dataKey">
            {{tableColumn.name | translate}}
          </th>
        </ng-container>

        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef>
            {{tableColumn.name | translate}}
          </th>
        </ng-template>

        <!-- column data -->
        <td mat-cell *matCellDef="let element; let i=index">
          <ng-container *ngIf="tableColumn.custom; else notCustom">
            <ng-container *ngFor="let item of content">
              <ng-container *ngIf="item.columnName ===  tableColumn.dataKey">
                <ng-container *ngTemplateOutlet="item.templateRef, context: {$implicit: element, index: i}  ">
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #notCustom>
            {{ (element | dataPropertyGetter: tableColumn.dataKey) ? (element | dataPropertyGetter:
            tableColumn.dataKey) :'—/—'}}
          </ng-template>
        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">
          <div class="empty grid p-32  content-center" *ngIf="loadingService.isLoading$ | async as loadingMap">
            <app-empty [width]="100" [height]="70" *ngIf="!loadingMap.get(url); else loading"></app-empty>
            <ng-template #loading>
              <h4>{{'table.loading' | translate}}...</h4>
            </ng-template>
          </div>
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        cdkDrag
        [cdkDragData]="row"
        (click)="onSelectedRow(row)"
      ></tr>
    </table>
    <!-- </div> -->
  </div>

  <div style="overflow-x: auto;">
    <app-pagination
      *ngIf="params.limit >= 0"
      [total]="total"
      [limit]="params.limit"
      [page]="params.page"
      [surroundButton]="6"
      (changed)="goTo($event)"
    >
    </app-pagination>
  </div>
</ng-container>
